.container {
  width: 400px;
  height: 400px;
  border: 3px solid black;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-template-rows: repeat(2, 100px);
  gap: 20px;
  padding: 20px;
}

.cube {
  width: 100px;
  height: 100px;
  background: royalblue;
  position: absolute; /* Required for full freedom to drag */
  cursor: grab;
}
